
.team-card {
    width: 350px;
    height: 400px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0 10px 0 0;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s ease;
}

.card:hover{
    transform: rotateY(180deg);
}

.team-card-front {
    width: 350px;
    height: 400px;
    position: absolute;
    backface-visibility: hidden;
}

.team-card-front .content {
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.team-card-front .logo {
    height: 101px;
    padding: 13px;
    object-fit: cover;
}

.team-card-front .team-name {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 23px;
    margin-top: 20px;
    z-index: 3;
}

.team-card-front .best-result {
    display: flex;
    justify-content: space-around;
}

.team-card-front .best-result .text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    margin-left: 135px;
    margin-top: 50px;
    z-index: 3;
}

.team-card-front .best-result .result {
    font-size: 67px;
    margin: -15px;
}

.team-card-front .best-result .year {
    font-size: 10px;
    margin-top: 8px;
}

.team-card-back {
    z-index: 4;
    backface-visibility: hidden;
    position: absolute;
    width: 350px;
    height: 400px;
    transform: rotateY(180deg);
}

.team-card-back .content {
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.team-card-back .team-statistic {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.team-card-back .performance {
    width: 350px;
    height: 400px;
    background-color: white;
}

.team-card-back .total-matches {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.team-card-back .winning-rate {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
}

.team-card-back .bar-chart {
    padding-top: 25px;
}